<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <title>Document</title>
    <style>
      .cover {
        max-width: 300px;
        max-height: 300px;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1 / 2;
      }
    </style>
  </head>

  <body>
    <body>
      <main class="container">
   
      <div class="grid">
          <ul id="film-list"> 
            {{ range .Films }}
              {{ block "film-list-element" .}}
                <li>
                  <h3>{{ .Title }}</h3>
                  <h6>{{ .Director }}</h6>
                  <img src="data:image/png;base64, {{ .Image }}" alt="cover of {{ .Title }}" class="cover" >
                </li>
                
              {{ end }}
            {{ end }}
          </ul>
         
            <div>
              <h1>Add Film</h1>
              <form hx-post="/add-film/" hx-encoding="multipart/form-data" hx-indicator="#spinner" hx-target="#film-list" hx-swap="beforeend">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
                <label for="director">Director</label>
                <input type="text" name="director" id="director">
                <label for="img-film">Image</label>
                <input type="file" name="img-film" id="img-film">
                <div>
                  <button  type="submit">Submit</button>
                  <span aria-busy="true" class="htmx-indicator" id="spinner"></span>
                </div>
              </form>
            </div>
      </div>

      </main>

  </body>
</html>
